body{
    background-color: rgb(63, 58, 58);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://wallpaper.forfun.com/fetch/83/83b0b91a8433b85df4e8c3716716bf76.jpeg?w=1470&r=0.5625&f=webp);
}
h1{
    color: rgb(151, 151, 151);
}
input#btn{
    background-color: brown;
    
}

input::placeholder{
    color: white;
    
}

input{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(70, 66, 66);
    width: auto;
}

